<!doctype html>
<html>
<head>
	<title>Database Final Project</title>
	<link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div id='header'>
        <div class='logo'><a href='/'>Pokemon<span>DB</span></a></div>
    </div>
    <div id='container'>
    <div class='sidebar'>
        <ul id='nav'>
            <li><a class="selected" href="/">Home</a></li>
            <li><a class="selected" href="/pkdata">Pokedex</a></li>
            <li><a class="selected" href="/atk">AttackDex</a></li>
            <li><a class="selected" href="/moveset">Movesets</a></li>
            <li><a class="selected" href="/evo">Evolution Chains</a></li>
            <li><a class="selected" href="/stats">Statistics</a></li>
            <li><a class="selected" href="/dmg">Damage Differentials</a></li>
            <li><a class="selected" href="/search">Advanced Search</a></li>
        </ul>
    </div>
	{{{body}}}
    <div style="margin-top:50px; margin-left:235px; clear:both; background-colod:#ecf0f1;">
    <hr>
    <footer>
      <h4> Created by John Carrabino </h4>
    </footer>
  </div>
    </div>
</body>
</html>
