 <form id="mainForm">
      <fieldset>
      <div class="row">
            <form>
              <fieldset >
                <legend> Pokedex Entry </legend>
				<label for="Name"> Name: </label>
                <input id="pkmnSearch" type="text" name="pkmnSearch" style="margin-left:5px" /> <br/>
                <input id="searchPkmn" type="button" name="searchPkmn" value="Go!" />
              </fieldset>
            </form>
          </div>        
        <legend> Search Pokemon By </legend>
        <div class="row">
            <form>
              <fieldset >
				<legend> Pokemon's Moveset </legend>
                <label for="pkMoves"> Pokemon: </label>
                <input id="movesetSearch" type="text" name="movesetSearch" style="margin-left:5px" /> <br/>
                <input id="selectMoveset" type="button" name="Select" value="Go!" />
              </fieldset>
            </form>
          </div>
          <div class="row">
            <form>
              <fieldset >
				<legend> Learnable Moves </legend>
                <label for="Moves"> Moves </label>
                <input id="moveSearch" type="text" name="moveSearch" style="margin-left:5px" /> <br/>
                <input id="selectMoves" type="button" name="Select" value="Go!" />
              </fieldset>
            </form>
          </div>
		<div class="row">
            <form>
              <fieldset >
                <legend> Total Power Level (200-720) </legend>
				<label for="Total"> Total: </label>
                <input id="totalSearch" type="text" name="totalSearch" style="margin-left:5px" /> <br/>
                <input id="selectTotal" type="button" name="total" value="Go!" />
              </fieldset>
            </form>
          </div>
        
          <div class="row">
            <form>
              <fieldset >
                <legend> Type Totals </legend>
                <input id="countType" type="button" name="Insert Tree" value="Go!" style="margin-left:5px"/>
              </fieldset>
            </form>
          </div>
        
      </fieldset>
    </form>
    
      
  <script type="text/javascript" src="js/searches.js"></script>