<table>
    <thead>
        <tr>
            <th> Type I </th>
            <th> Type II </th>
            <th> Count </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td> {{this.typeI}} </td>
            <td> {{this.typeII}} </td>
            <td> {{this.count}} </td>
        </tr>
        {{/each}}
    </tbody>
</table>